.top-container
{
    background-color: #A1DEFE;
    display: flex;
}
.span
{
    font-family:"Brush Script MT", cursive;
}
.top-container > h1{
    color: #66bfbf;
    font-family:'Alegreya';
    font-size: 2.2rem;
    margin: 50px auto 0 auto;
    margin-top: 10px;
    justify-content: center;
}
.cloud
{
    background-color: #A1DEFE;
    display: flex;
}
.cloud > img{
    margin-left: 200px;
}
.second-container
{
  
    background-color: #A1DEFE;
}
.image
{
    margin-left: 1200px;
}
.top-container-2
{
    background-color: #A1DEFE;
    display: flex;
}
.top-container-2 > h3{
    color: hsl(180, 6%, 48%);
font-family: Copperplate, Papyrus, fantasy;
    font-size: 20px;
    margin: 50px auto 0 auto;
    margin-top: 30px;
    justify-content: center;
}
.profile
{
    display: flex;
    justify-content: center;
}
.profile > img
{
    margin-top: 50px;
 border-radius: 100%;

}
.top-container-3
{
    display: flex;
    justify-content: center;
}
.top-container-4 {
    display: flex;
    justify-content: center;
   
}
.top-container-3 > h2{
    color: rgb(0, 0, 0);
    font-family:"Brush Script MT", cursive;
}
.p{
    text-align: center;
    font-family: "Merriweather", serif;
    width: 30%;
    margin: auto;
}
.dot
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    color: #66bfbf;
}
.skills
{
    background: linear-gradient(300deg, #66bfbf, #ffffff, #A1DEFE);
}
.skills > h1{
    display: flex;
    justify-content: center;
    text-align: center;
 
}
.intro
{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        width: 50%;
        margin: 100px auto 0 auto;
        text-align: left;
        row-gap: 2rem;
    
}
.intro > img
{
margin-top: 10px;
    border-radius: 100%;
}
.into > p
{ font-size:30px;
    width: 20%;
    margin: auto;
}
.inside
{
    font-size: medium;
    width: 60%;
}
.intro > h1{
    margin-top: 40px;
    margin-left: 50px;
}
.spin
{
    color: darkgoldenrod;
    font-family:'Alegreya';
}
.allu
{
    background: linear-gradient(300deg, #66bfbf, #ffffff, #A1DEFE);
  display: block;
}
.outside
{
    display: flex;
    font-size: medium;
    width: 30%; 
    margin-top: 00px;
    margin-left: 850px;
}
.spinner
{
   margin-right: 200px;
    color: rgb(88, 64, 3);
    font-family:'Alegreya';
}
.coding
{
    float: left;
  margin-left: 600px;
    border-radius: 100%;
}
.class
{
    text-align: center;
}
.touch
{
    background: linear-gradient(300deg, #dbf78e, #ffffff, #b8fea1);
}
.touch > *{
    text-align: center;
}
.touch > h1 {
    color: hsl(234, 55%, 57%);

}
.touch > h2 {
    color: hsl(139, 28%, 48%);

}
.touch > h3
{
    font-family: ;
    color: hsl(34, 48%, 58%);
    font-size: medium;
  
}
.btn
{
      margin-left: 45%;
        background: #fef078;
        background-image: -webkit-linear-gradient(top, #11cdd4, #7dad50);
        background-image: -moz-linear-gradient(top, #11cdd4, #119e29);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #9e1139);
        background-image: linear-gradient(to bottom, #11cdd4, #769e11);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: "Montserrat", sans-serif;
        color: #0a0a0a;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    
}
.roter
{
    display: flex;
    justify-content: space-evenly;
}
.roter > *
{
    font-size: medium;
}
rooter
{
    display: flex;
   justify-content: center;
}
